{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tweets Retriever by Ruri Armandhani</title>
</head>

<body>
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="col-md-8 ml-auto mr-auto text-center h-100">
            <h1 class="text-primary" style="position: relative; top:32%;">Tweets Retriever</h1>
            <form action="{% url 'tweets_view' %}" method="POST" style="position: relative; top:35%;">
                {% csrf_token %}
                <div class="col-md-8 mr-auto ml-auto text-left"
                    style="background-color: white; padding: 10px;border-radius: 10px;">
                    <input id="username" type="text" placeholder="Username (example: cnbcindonesia,detikcom,Bisniscom)" name="username"
                        style=" width: 92%; padding: 5px; height: 25px; margin-bottom: 5px; border-style: none;" >
                    <i class="text-primary fa fa-user" style="font-size: 22px; margin-left: 10px;"></i>
                    <input id="keyword" type="text" placeholder="Keyword" name="keyword"
                        style=" width: 92%; padding: 5px; height: 25px; border-style: none;">
                    <i class="text-primary fa fa-search" style="font-size: 22px; margin-left: 10px;"></i>
                    <button type="submit" value="submit" onclick="validate_submit(event)" hidden></button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function validate_submit(event){
            var username = document.getElementById('username').value;
            var keyword = document.getElementById('keyword').value;
            if (username == "" && keyword == ""){
                event.preventDefault();
            }
            else{
                username.required = True;
                keyword.required = True;
            }
        }
    </script>
    <script type="text/javascript" src="{% static ' js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static ' js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static ' bootstrap/bootstrap.js' %}"></script>
</body>

</html>