{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tweets Retriever by Ruri Armandhani</title>
</head>

<body>
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="col-md-8 ml-auto mr-auto text-center h-100">
            <h1 class="text-primary" style="position: relative; top:30%;">Tweets Retriever</h1>
            <form action="{% url 'tweets_view' %}" method="POST" style="position: relative; top:35%;">
                {% csrf_token %}
                <div class="col-md-5 mr-auto ml-auto" style="background-color: white; padding: 5px;border-radius: 10px;">
                    <input id="input" type="text" placeholder="Type stock code" name="input"
                        style="width: 300px; padding: 5px; border-style:none;" required>
                    <i class="text-primary fa fa-search" style="font-size: 20px;"></i>
                </div>

            </form>

        </div>

    </div>
    <script type="text/javascript" src="{% static ' js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static ' js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static ' bootstrap/bootstrap.js' %}"></script>
</body>

</html>