{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tweets Retriever by Ruri Armandhani</title>
</head>

<body>
    <div class="container-fluid bg-light" style="height: 100vh;">
        <div class="col-md-8 ml-auto mr-auto text-center h-100">
            <h1 style="position: relative; top:30%;">Tweets Retriever</h1>
            <form action="{% url 'tweets_view' %}" method="POST" style="position: relative; top:35%;">
                {% csrf_token %}
                <input type="text" placeholder="Type stock code" name="search" style="width: 40%;" >
                <button type="submit" onclick="loadPage()"><i class="fa fa-search"></i></button>
            </form>
        </div>
        
    </div>
    
    <div class="loader-wrapper" id="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script type="text/javascript" src="{% static ' js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static ' js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static ' bootstrap/bootstrap.js' %}"></script>
    <script>
        function loadPage(){
            document.getElementById('loader-wrapper').style.opacity = 1;
            document.getElementById('loader-wrapper').style.zIndex = 1;
        }
    </script>
</body>

</html>